.character, .player, .enemy, .inWait {
    display: inline-block;
    margin: 5px;
    border: 2px solid greenyellow;
    /* color: azure; */
    width: 200px;
    height: 160px;
}

.inWait {
    background: red;
}

.enemy {
    background: black;
    color: white;
}

#player, #enemy {
    display: none;
}

button {
    display: none;
}