.character, .player, .enemy {
    display: inline-block;
    margin: 5px;
    border: 2px solid greenyellow;
    /* color: azure; */
    width: 200px;
    height: 160px;
}

.enemy {
    background: black;
    color: white;
}